[user]
	email = 84048406+gabrielnalmeida@users.noreply.github.com
	name = Gabriel Nunes de Almeida

[alias]
  st = status
  logg = log --graph --decorate --oneline --all
  cm = commit
  df = diff
  dfs = diff --staged

[core]
	pager = delta
	editor = vim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
  
[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[init]
	defaultBranch = main
  
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
